version: "3.8"
services:
  api:
    build:
      context: .
      dockerfile: DevOpsDemo/Dockerfile
    container_name: devops-demo-api
    ports:
      - "8080:80"   # host:container
    depends_on:
      elasticsearch:
        condition: service_healthy
      mongo:
        condition: service_started
    environment:
      - DOTNET_ENVIRONMENT=Docker
      # Optionally override app settings here:
      # - MongoDb__ConnectionString=mongodb://mongo:27017
      # - MongoDb__Database=productdb
      - Elastic__Url=http://elasticsearch:9200

