{
    "MongoDbInfra": {
        "ConnectionString": "mongodb://mongo:27017",
        "Database": "productdb"
    },
    "ElasticSearch": {
        "NodeUrl": "http://elasticsearch:9200",
        "Index": "products_v1"
    }
}