{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "MongoDb": {
    "ConnectionString": "mongodb://localhost:8001",
    "Database": "productdb"
  },
  "Elastic": {
    "Url": "http://elasticsearch:9200",
    "Index": "products_v1"
  }
}